/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

@import '~ngx-toastr/toastr.css'; 
.toast-container .ngx-toastr {
  background-color: #F7001D !important;
}


html, body {
  margin: 0;
}

body {
  padding: 20px;
}

/* remove black outline from admin CSS */
.btn.active:focus,
.btn:focus,
.carousel-control:focus,
.chosen-container-active
.chosen-single, .dropdown-toggle:focus,
.form-control:focus,
:not([class*=col-]):focus,
a:focus, button:focus,
input[type=checkbox]:focus,
input[type=file]:focus,
input[type=radio]:focus, 
.nav>li>a:focus {
  outline: 0;
  outline: none;
}

.loadingSign {
  margin: 50px 0 50px 0;
  display: flex;
  justify-content: center;
}

.main-chart-container {
  border: 1px solid lightgray;
  width: 100%;
}

.chart-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%
}