<div class="container-fluid">
  <h1 id="geo-download-header">{{ 'GEO_DOWNLOAD_DETAIL.TITLE' | translate }}</h1>
  <p>{{'GEO_DOWNLOAD_DETAIL.P1' | translate }}</p>
  <p>{{'GEO_DOWNLOAD_DETAIL.P2' | translate }}</p>
  <div class="notice">
    <h2>{{'GEO_DOWNLOAD_DETAIL.NOTICE_TITLE' | translate }}</h2>
    <p>{{'GEO_DOWNLOAD_DETAIL.NOTICE_P1' | translate }}</p>
    <p>{{'GEO_DOWNLOAD_DETAIL.NOTICE_P2' | translate }}</p>
    <ul>
      <li>{{'GEO_DOWNLOAD_DETAIL.NOTICE_B1' | translate }}</li>
      <li>{{'GEO_DOWNLOAD_DETAIL.NOTICE_B2' | translate }}</li>
      <li>{{'GEO_DOWNLOAD_DETAIL.NOTICE_B3' | translate }}</li>
      <li>{{'GEO_DOWNLOAD_DETAIL.NOTICE_B4' | translate }}</li>
      <li>{{'GEO_DOWNLOAD_DETAIL.NOTICE_B5' | translate }}</li>
    </ul>
    <p>{{'GEO_DOWNLOAD_DETAIL.NOTICE_P3' | translate }}</p>
    <p>{{'GEO_DOWNLOAD_DETAIL.NOTICE_P4' | translate }}</p>
    <p>{{'GEO_DOWNLOAD_DETAIL.NOTICE_P5' | translate }}</p>
    <fieldset >
      <input style="cursor: pointer;" id="accept-checkbox" type="checkbox" name="accept" (change)=onCheck($event)>
      <label id="accept-notice" for="accept-checkbox">{{ 'GEO_DOWNLOAD_DETAIL.NOTICE_ACCEPT' | translate }}</label>
    </fieldset>
    <br>
    <div class="user-warning" role="alert" [hidden]=hideWarning>
      <span>{{ 'GEO_DOWNLOAD_DETAIL.NOTICE_WARNING' | translate }}</span>
    </div>
  </div>
  <Button class="btn btn-primary my-2 mr-2" ng-disabled="!accept" (click)="onDownload()">
    <mat-icon class="download-mat-icon">save_alt</mat-icon>
    {{'GEO_DOWNLOAD_DETAIL.NOTICE_DOWNLOAD' | translate }}
  </Button>
  <Button class="btn btn-primary my-2 mx-2" ng-disabled="!accept" (click)="onCancel()">
    <mat-icon class="download-mat-icon">cancel</mat-icon>
    {{'GEO_DOWNLOAD_DETAIL.NOTICE_CANCEL' | translate }}
  </Button>
  <div class="clearfix">
    <small class="pull-right scroll-link"><a class="icon icon--before icon--power"
        (click)="onScrollUp()">{{ 'GENERAL.GO_UP' | translate }}</a></small>
  </div>
</div>