.full-width-table {
  width: 100%;
}

th.mat-header-cell {
  vertical-align: middle;
}

.count-row {
  text-align: center;
}

td.mat-cell {
  padding-top: 8px;
  padding-bottom: 8px;
}

@media screen and (max-width: 850px) {
  .table {
    overflow: auto;
    width: 100%;
    margin: 0;
  }

  mat-table {
    width: 100%;
    min-width: 500px;
    overflow-x: auto;
    margin: 0;
  }
} 
