
<div style="background-color: #F5F5F5">
  <span style="line-height:50px; margin-left: 10px">{{ 'GENERAL.BLV_FULL' | translate }}</span>
  <span style="float: right;line-height:50px; margin-right: 10px">
    <a style="margin-right: 10px" href="https://www.blv.admin.ch/blv/de/home.html">{{ 'GENERAL.CONTACT' | translate }}</a>
    <span style="margin-right: 10px">|</span>
    <a href="https://www.admin.ch/gov/de/start/rechtliches.html">{{ 'GENERAL.LEGAL_FRAMEWORK' | translate }}</a>
  </span>
</div>
