<div style="margin-left: 2%; margin-right: 2%; margin-top: 2%">
  <h3 style="text-align: center">{{ 'BULLETIN.OPTIONS' | translate}}</h3>
  <hr>
  <div style="text-align: center">
    <p> {{ 'BULLETIN.FILTER_MESSAGE' | translate}} </p>
    <ngb-datepicker #dp [minDate]="{year: 2008, month: 11, day:17}" [maxDate]="maxDate" [showWeekNumbers]="true"
      [startDate]="startDate" [(ngModel)]="model" (ngModelChange)="getDate()">
    </ngb-datepicker>
  </div>


  <div style="margin-left: 2%; margin-right: 2%; margin-top: 2%">
    <h5 style="text-align: center"><strong>{{ 'BULLETIN.NOTICES' | translate}} {{ fromDate | chDate }} -
        {{  toDate | chDate }}</strong></h5>
    <hr>
    <h6 style="text-align: center">{{ 'BULLETIN.NUMBER' | translate}} {{ bulletinNumber }} <span
        *ngIf="actualBulletin"><i>({{ 'BULLETIN.ACTUAL_BULLETIN' | translate }})</i></span> </h6>
  </div>

  <div *ngIf="bulletinEntries.length === 0" class="noMessages">
      {{ 'BULLETIN.NO_BULLETINS' | translate }}
  </div>

  <div class="mat-elevation-z8" style="margin-left:2%; margin-right:2%">
    <mat-table class="mat-elevation-z8" [dataSource]="dataS" matSort>
      <ng-container matColumnDef="diagnose_datum">
        <mat-header-cell *matHeaderCellDef mat-sort-header> <strong>{{ 'EVAL.DIAGNOSIS_DATE' | translate }}</strong>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.diagnose_datum | chDate }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="kanton">
        <mat-header-cell *matHeaderCellDef mat-sort-header> <strong>{{ 'EVAL.CANTON' | translate }}</strong>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.kanton}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="gemeinde">
        <mat-header-cell *matHeaderCellDef mat-sort-header><strong>{{ 'EVAL.MUNICIPALITY' | translate }}</strong>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.gemeinde}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="seuchen_gruppe">
        <mat-header-cell *matHeaderCellDef mat-sort-header> <strong>{{ 'EVAL.PEST' | translate }}</strong>
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.seuche}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="seuche">
        <mat-header-cell *matHeaderCellDef mat-sort-header> <strong>{{ 'EVAL.PEST_GROUP' | translate }}</strong>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.seuchen_gruppe}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="tierart">
        <mat-header-cell *matHeaderCellDef mat-sort-header> <strong>{{ 'EVAL.ANIMAL_SPECIES' | translate }}</strong>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.tierart}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="anzahl">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <strong>{{ 'BULLETIN.NUMBER_OF_NOTICES' | translate}}</strong></mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.anzahl}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedCols"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedCols;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="10" [hidePageSize]="true" showFirstLastButtons></mat-paginator>
  </div>
</div>
<!-- <div id="selectDateSection" style="margin-top: 2%; margin-bottom: 2%">
        <div class="input-group" >
            <form class="form-inline" >
                <div class="form-group" >
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">von</span>
                    </div>
                    <div class="input-group" style="width: 40%">
                        <input class="form-control" placeholder="{{ 'EVAL.DATEPICKER_PLACEHOLDER' | translate }}" name="from" [(ngModel)]="from"
                            ngbDatepicker #fromPicker="ngbDatepicker">
                    </div>
                    <div class="input-group-append" style="height:33.5px;">
                        <button class="btn btn-outline-secondary calendar" (click)="fromPicker.toggle()" type="button"></button>
                    </div>
                </div>
            </form>

            <form class="form-inline">
                <div class="form-group" >
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">bis&nbsp;</span>
                    </div>
                    <div class="input-group" style="width: 40%">
                        <input class="form-control" placeholder="{{ 'EVAL.DATEPICKER_PLACEHOLDER' | translate }}" name="to" [(ngModel)]="to" ngbDatepicker
                            #toPicker="ngbDatepicker">
                    </div>
                    <div class="input-group-append" style="height:33.5px;">
                        <button class="btn btn-outline-secondary calendar" (click)="toPicker.toggle()" type="button"></button>
                    </div>
                </div>
            </form>
        </div>
        <button class="btn btn-dark notValid" type="submit" (click)="getFromToDates()" style="margin-right: 3%">Filtern</button>
        <button class="btn btn-danger notValid" type="submit" (click)="resetDates()">Filter zurücksetzen</button>
    </div> 
    
    <hr>
    Liste der Bulletins:
</div>

<div class="mat-elevation-z8" style="margin-left:2%; margin-right: 2%">
  <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef> <strong>Nummer</strong></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nummer}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateFrom">
          <mat-header-cell *matHeaderCellDef mat-sort-header> <strong>Datum von</strong> </mat-header-cell>
          <mat-cell *matCellDef="let element" > {{element.dateFrom | chDate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dateTo">
          <mat-header-cell *matHeaderCellDef mat-sort-header><strong>Datum bis</strong></mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.dateTo | chDate}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef > <strong>Aktion</strong></mat-header-cell>
          <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()"> <button mat-button (click)="goToDetail(element.nummer, element.dateFrom, element.dateTo)">
            <span class="glyphicon glyphicon-info-sign"></span>  &nbsp;<mat-icon>{{ element.action}}</mat-icon>  </button> </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
  </mat-table>

  <mat-paginator [pageSize]="15" [hidePageSize]="true" showFirstLastButtons></mat-paginator> -->