button.calendar, button.calendar:active {
    width: 2.75rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
  }
  
  .input-group, .form-inline, .form-group {
      border:0;
  }

  .mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}

.table {
    width: 94%;
    margin-left: 3%;
    margin-right:3%;
  }
  
  @media screen and (max-width: 600px) {
    .table {
      overflow: auto;
      width:100%;
      margin:0;
    }
  
    mat-table {
      width: 100%;
      min-width: 500px;
      overflow-x: auto;
      margin: 0;
    } 
  }
  

:host /deep/ ngb-datepicker .ngb-dp-weekday{
    color: #DC0018;
  }
    
  :host /deep/ ngb-datepicker .btn-link {
      color: #DC0018 !important;
  }
  
  :host /deep/ ngb-datepicker .bg-primary {
    background-color: #DC0018 !important;
  }

  .noMessages {
    color:#DC0018; 
    text-align: center; 
    margin: 3%; 
    border-style: solid; 
    padding-top: 5px; 
    padding-bottom: 5px
  }

  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: #DC0018;
    color: white;
  }
  .custom-day.faded {
    background-color: #DC0018;
  }

  .disabled {
    color: #bbbbbb;
  }
  .disabled:hover {
    background-color: transparent;
  }