#geo-download-header {
    padding-top: 20px;
}

.notice {
    background-color: #F5F5F5;
    border: lightgrey;
    border-width: 1px;
    border-style: solid;
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 1em;
}

#accept-notice {
    font-weight: bold;
    padding-left: 1em;
}

.notice-input {
    margin: 1em;
}

.user-warning {
    display: inline-block;
    background-color: rgb(255, 243, 205);
    border-color: rgb(255, 238, 186);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    box-sizing: border-box;
    color: rgb(133, 100, 4);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 10.5px 0 5px 0;
    padding: 10.5px 17.5px 10.5px 17.5px;
    position: relative;
}