<div class="container-fluid extended">
  <h1 class="info-header">{{ 'INFO.TITLE' | translate }}</h1>
  <p>{{ 'INFO.P1' | translate }}</p>
  <p>{{ 'INFO.P2' | translate }}</p>
  <p>{{ 'INFO.P3' | translate }}</p>
  <!-- <img src="../assets/img/seuchenmeldung.svg"> -->
  <app-geo-download></app-geo-download>
  <!-- TODO: Uncomment below after picture has been added -->
  <!-- <div class="clearfix">
    <small class="pull-right scroll-link"><a class="icon icon--before icon--power"
        (click)="onScrollUp()">{{ 'GENERAL.GO_UP' | translate }}</a></small>
  </div> -->
</div>