<div class="container-fluid extended">
  <h1 class="info-header">{{ 'INFO.TITLE' | translate }}</h1>
  <p>{{ 'INFO.P1' | translate }}</p>
  <p>{{ 'INFO.P2' | translate }}</p>
  <p>{{ 'INFO.P3' | translate }}</p>
  <img *ngIf="currentLang === 'de'" src="../assets/img/BLV_InfoSM_inphographic_Final.jpg" alt="{{ 'INFO.INFO_GRAPHIC' | translate }}">
  <img *ngIf="currentLang === 'en'" src="../assets/img/BLV_InfoSM_Sketch_inphographic_Final_EN.jpg" alt="{{ 'INFO.INFO_GRAPHIC' | translate }}">
  <img *ngIf="currentLang === 'fr'" src="../assets/img/BLV_InfoSM_Sketch_inphographic_Final_FR.jpg" alt="{{ 'INFO.INFO_GRAPHIC' | translate }}">
  <img *ngIf="currentLang === 'it'" src="../assets/img/BLV_InfoSM_Sketch_inphographic_Final_IT.jpg" alt="{{ 'INFO.INFO_GRAPHIC' | translate }}">
  <app-geo-download></app-geo-download>
  <!-- TODO: Uncomment below after picture has been added -->
  <!-- <div class="clearfix">
    <small class="pull-right scroll-link"><a class="icon icon--before icon--power"
        (click)="onScrollUp()">{{ 'GENERAL.GO_UP' | translate }}</a></small>
  </div> -->
</div>