.loadingSign {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.radio {
    display: inline-block;
    margin-right: 3%;
}

.filterContainer {
    padding: 2% 1.5% 0 1.5%;
    margin-top: 2%;
    border:1px solid #D8E8EF;
    background-color: #F2F7F9;
}

button.calendar, button.calendar:active {
    width: 2.75rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
  }
  
  .input-group, .form-inline, .form-group {
      border:0;
  }

  .panel-heading.collapsed .fa-chevron-down,
.panel-heading .fa-chevron-right {
  display: none;
  
}

.panel-heading.collapsed .fa-chevron-right,
.panel-heading .fa-chevron-down {
  display: inline-block;
}

i.fa {
  cursor: pointer;
  margin-right: 5px;
}

.collapsed ~ .panel-body {
  padding: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.select-wrapper {
  width: 100%;
  margin-bottom: 20px;
  margin-right: 5%;
}

.err {
  color: red;
}

.selction-label {
  font-weight: bold;
  /* margin-bottom: 0; */
}

.panel-info>.panel-heading {
    color: black;
    background-color: lightgrey;
    border-color: lightgray;
    cursor: pointer;
}

.panel-info {
    border-color: darkgrey;
}

:host ::ng-deep ngb-datepicker .ngb-dp-weekday{
  color: red;
}
  
:host ::ng-deep ngb-datepicker .btn-link {
    color: red !important;
}

:host ::ng-deep ngb-datepicker .bg-primary {
  background-color: red !important;
}

p {
  margin-left: 5%; 
  margin-right:5%; 
  margin-bottom: 0%
}

.table {
  margin-left: 0;
  margin-right:0;
}

@media screen and (max-width: 600px) {
  .table {
    overflow: auto;
    width:100%;
    margin:0;
  }

  mat-table {
    width: 100%;
    min-width: 500px;
    overflow-x: scroll;
    margin: 0;
  }

  .cant {
    overflow: hidden;
  }

  .form-control {
    padding-bottom: 5px;
    width:150px;
  }

  .filterBut {
    width: 45%;
  }
  
}

.test {
  width: 100%;
  display: none;
  flex-wrap: wrap;
}

.btn-group {
  margin-bottom: 3%
}

.chart-tab {
  cursor: pointer;
}

.border {
  border:1px solid black;
  padding: 5px;
  margin: 5px
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.filterButton {
  width: 25%;
}

.tableInfo{
  margin-top: 5%;
  margin-left: 0px !important;
}

.btn.btn-primary:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.tab-mat-icon {
  display: inline-flex;
  vertical-align: top;
  font-size: 20px;
}

.form-control {
  min-width: 50px;
  width:100px;
  max-width: 300px;
}

.form-control, .input-group-append, .input-group-prepend {
  height: 33.5px;
}

.input-group-append, .input-group-prepend {
  width: 40px;
  margin:0px
}

.notValid {
  vertical-align: center;
  margin: 1.5%
}

.marginInputs {
  margin-bottom: 5px
}

.infoIcon {
  float: right;
}

.my-tooltip {
  white-space: pre-line;
}